PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=studymate
JWT_SECRET=studymate_secret_key_2024
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx
API_LIMIT_PER_DAY=10
GMAIL_USER=ton.email@gmail.com
GMAIL_PASS=ton_app_password_gmail
FRONTEND_URL=http://localhost:5173
